@page
@model web.Areas.Identity.Pages.Account.Manage.CurrentSessionsModel
@{
    ViewData["Title"] = "Current Sessions";
    ViewData["ActivePage"] = ManageNavPages.CurrentSessions;
}

<h4>@ViewData["Title"]</h4>

