@page
@model web.Areas.Identity.Pages.Account.Manage.ManageSecurityKeysModel
@{
    ViewData["Title"] = "Manage Security Keys";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}


<h4>@ViewData["Title"]</h4>

<a asp-page="TwoFactorAuthentication" class="btn btn-secondary">Cancel</a>